body {
    font-family: "Champagne & Limousines";
    background-image:url(../img/bg.jpg);
    background-repeat: repeat;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Champagne & Limousines";
}
.main-content {
    background-image: url("../img/bg-accueil.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;

    section {
        min-height: 100vh;
        text-align: center;
    }


    h2.title {
        font-size: 2.25rem;    
        font-weight: normal;
        margin-top: 40px;
    }

    .arabesque-separator {
        background-image: url("../img/arabesque.png");
        width : 73px;  
        height: 30px;
        margin : auto; 
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .section-separator {
        background-image: url("../img/separateur.jpg");
        width: 1213px;
        height: 1px;
        margin: auto;
        margin-top: 40px;
    }
}

.footer-bg {
    position: absolute;    
    background-image: url("../img/bg-accueil.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(180deg);
}