@font-face {
	font-family: 'Champagne & Limousines';
	font-style: normal;
	font-weight: normal;
	src: local('Champagne & Limousines'), url('Champagne & Limousines.woff') format('woff');
}

@font-face {
	font-family: 'Champagne & Limousines Bold';
	font-weight: bold;
	src: local('Champagne & Limousines Bold'), url('Champagne & Limousines Bold.woff') format('woff');
}