@font-face {
	font-family: 'Champagne & Limousines';
	font-style: normal;
	font-weight: normal;
	src: local('Champagne & Limousines'), url('../fonts/champagne_limousines.woff') format('woff');
}

@font-face {
	font-family: 'Champagne & Limousines Bold';
	font-weight: bold;
	src: local('Champagne & Limousines Bold'), url('../fonts/champagne_limousines_bold.woff') format('woff');
}