.main-content section.about {

    .presentation {
        text-align: center;

        p {
            font-size: 1.2rem;
        }
    }

    .interests {
        .columns {

            .img {
                position: relative;
                margin: 2rem auto; // margin-top : 2rem; margin-bottom: 2rem; margin-left : auto; margin-right: auto;
                text-align: center;
                
                // &.webdesign = .img.webdesign
                &.webdesign {
                    background-image: url('../img/peinture_w.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 249px;
                    height: 193px;

                    img {
                        margin-top: 28px;
                    }
                }
            }

        }
    }

}