.main-content section.contact {

	.data {
		 margin-top: 40px;

    p {
        padding-top: 30px; 
        font-size: 1.3rem;
       }
    }

	.social {
		padding-top: 70px;
	}

	.linkedin{
		background-image: url("../img/logos/linkedin.png");
		height: 73px;
		width: 73px;
	}

	.twitter{
		background-image: url("../img/logos/twitter.png");
		height: 73px;
		width: 73px;
	}

	.git{
		background-image: url("../img/logos/git.png");
		height: 73px;
		width: 73px;
	}	

	.gmail{
		background-image: url("../img/logos/gmail.png");
		height: 73px;
		width: 73px;
	}	

	.behance{
		background-image: url("../img/logos/behance.png");
		height: 73px;
		width: 73px;
	}

	.pinterest{
		background-image: url("../img/logos/pinterest.png");
		height: 73px;
		width: 73px;
	}


	a{
		margin: 1rem;
		display: inline-block;
	}



	a:hover{

		&.linkedin {
		background-image: url("../img/logos/hover_linkedin.png");
		}

		&.twitter {
		background-image: url("../img/logos/hover_twitter.png");
		}

		&.git {
		background-image: url("../img/logos/hover_git.png");
		}		

		&.gmail {
		background-image: url("../img/logos/hover_gmail.png");
		}

		&.behance {
		background-image: url("../img/logos/hover_behance.png");
		}

		&.pinterest {
		background-image: url("../img/logos/hover_pinterest.png");
		}				
	}

	.cv {

		margin-top: 150px;
		margin-bottom: 150px;

		a {
		font-size: 1.3rem;
		font-weight: bold;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		padding : 8px;
		color:inherit;
		text-decoration: none;
		}

	}
}

