.main-content section.home {
    
    background-image: url("../img/bg-accueil.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;

    .profil {
        padding-top : 100px;

        h1.title {
            font-weight: bold;
            font-size: 3rem;
        }

    }
}
