.main-content section.work {
    
    ul.filters {
        list-style-type: none;
        font-size: 1.2rem;

        li {
            cursor: pointer;
            position: relative;
            margin: 1rem;
            display: inline-block;
        }

        li.active {
            border-bottom: 1px solid black;
            font-weight: 600;

        }
    }

    .mark1 {
        z-index: 0;
        position: absolute;

        img {
            height: 280px;;
            margin-top: 380px;
            margin-left: 480px;
        }
    }

    .mark2 {
        z-index: 0;
        position: absolute;

        img {
            height: 280px;
            margin-top: 200px;
            margin-left: 1300px;
        }
    }

    .mark3 {
        z-index: 0;
        position: absolute;

        img {
            height: 280px;
            margin-top: -200px;
            margin-left: -10px;

        }
    }

    .work-container .mix{
        display: none;
        margin: 1rem 3%;
        width: 80%;

        .work {
            position: relative;
            cursor: pointer;
            max-height: 200px;
            overflow: hidden;
            border: 1px solid #CECECE;

            img {
                width: auto;
                height: auto;
            }

            .info {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .info h2 {
                position: absolute;
                top: 50%;
                left: 0;
                opacity: 0;
                width: 100%;
                color: #484c61;
                transition: opacity 0.35s, transform 0.35s, color 0.35s;
                transform: translateY(-50%);
                font-size: 1.5rem;
            }

            .info p {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 2em;
                width: 100%;
                opacity: 0;
                padding: 2.5rem;
                margin: 0;
                color: white;
                font-size: 1.2rem;
                transition: opacity 0.35s, transform 0.35s;
                transform: translateY(10px);
            }

            .info::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(7,215,246,0) 0%, rgba(0,0,0,0.7) 75%);
                content: '';
                opacity: 0;
                transform: translateY(50%);
                transition: opacity 0.35s, transform 0.35s;
            }
        }

        .work:hover {
            .info::before {
                opacity: 1;
                transform: translateY(0);
            }

            .info h2 {
                opacity: 1;
                color: #fff;
                font-weight: 400;
                transform: translateY(-50%) translateY(-40px);
            }

            .info p {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    @media #{$medium-up} {
        .work-container .mix {
            width: 43%;
        }
    }

    @media #{$large-up} {
        .work-container {
            margin: 0 150px;
        }

    }

    @media #{$xlarge-up} {
        .work-container .mix {
            width: 27%;
        }
    }
}


